

#home {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  margin-top: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}
